.item-outer {
  display: flex;
  flex: 1 0 250px;
  background-color: #232320;
  height: 230px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 10px;
  width: 240px;
}

.item-inner{
  color: #FFF9E5;
  text-align: center;
}

.nothing-to-show{
  flex: 1;  
  text-align: center;
}